.search-result {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 20px; /* 아이템 간 간격 */
  padding: 20px;
}

.search-item {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
