main {
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.filter-bar {
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(33, 33, 33, 1);
}

.video-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, minmax(276px, 1fr));
  gap: 24px;
}

.video-card {
  background-color: #121212;
  overflow: hidden;
}

.video-card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.video-figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-figure img {
  width: 100%;
  height: auto;
  display: block;
}

.video-length {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 12px;
  padding: 2px 6px;
}

.video-info {
  display: flex;
  gap: 10px;
  padding: 12px 10px;
}

.video-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.video-description {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.video-description p {
  margin: 0; /* 전체 문단 여백 제거 */
}
.video-title {
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  line-height: 1.0;
}


.channel-name,
.view,
.update-date {
  color: #aaaaaa;
  margin: 0px;
  font-size: 12px;
  line-height:0.8;
}
