.video-grid {
  width: 1151px;
  height: 1395px;
  top: 138px;
  left: 264px;

}


.video-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10x;
  padding: 0;
  margin: 0;
  background-color: #121212;
  border-radius: 8px;
}

.video-card a {
  width: 276px;
  height: 247px;
  left: 292px;
}

.video-figure {
  position: relative;
}

.video-figure img {
  width:276px;
  height: 155px;
  display: block;
}

.video-length {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}


.video-info {
  display: flex;
  margin-top: 10px;
  width: 252px;
  height: 74px;
  top: 155px;
  gap: 10px;
}

.video-info .video-title {
  color: #ffffff;

}
.video-info img {
  width: 36px;
  height: 36px;
  border-radius: 24px;
}

.video-description {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.channel-name,
.video-card,
.view,
.update-date {
  color: #aaaaaa;
  size: 12px;
}
