* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  img{
    width: 24px;
    height: 24px;
  }
.nav-section{
    border-top:1px solid rgba(48, 48, 48,1);
    padding:0px;
    width:224px;
}
.nav-title{
    padding-left:24px;
    font-weight: 700;
    font-size:14px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(170,170,170,1);
}
.sidebar{
    padding:8px;
    background-color: rgba(33, 33, 33,1);
    width:240px;
}
ul{
    list-style-type: none;
    padding: 5px;  
    width:224px;
}
a{
    padding-left:24px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 12px;               /* 아이콘과 텍스트 사이 간격 */
    padding: 10px 20px;      /* 좌우 여백을 좀 더 줘서 가운데로 보이게 */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    font-size:14px;
    line-height: 100%;
    letter-spacing: 0%;
}
a:hover{
    background-color: rgba(48,48,48,1);
}
section{
    color:white;
}