<header>
    <!-- 로고영역 -->
    <div class="left-section">
        <!-- 햄버거 버튼에 네비 토글 적용 -->
        <img class="menu-icon" id="menu-toggle" src="/assets/icons/hamburger.svg" alt="menu">
        <a href="/">
            <img class="youtube-logo" src="/assets/logos/Youtube-Logo.svg" alt="youtube logo">
        </a>
    </div>

    <!--검색창 영역-->
    <form class="search-form">
        <input type="search" placeholder="Search"> 
        <button type="submit"><img src="/assets/icons/search.svg" alt="search"></button>
        <div class="icon mic"><img src="/assets/icons/mic.svg" alt="micicon"></div>
    </form>

    <!---오른쪽 아이콘 영역-->
    <div class="right-section">
        <div class="icon-Create" >
            <button class="create-btn">
                <img src="/assets/icons/Create.svg" alt="video">
                <span>Create</span>
            </button>
            <div class="create-modal">
                <div class="create-modal-content">
                    <button><img src="/assets/icons/upload.svg" alt="upload"><span>Upload Video</span></button>
                    <button><img src="/assets/icons/live.svg" alt="live"><span>Go live</span></button>
                </div>
            </div>
        </div>
        <div class="icon-Notifications" >
            <button class="notice-btn">
                <img src="/assets/icons/Notifications.svg" alt="alarm">
            </button>
            <div class="notice-modal">
                <div class="notice-modal-content">
                    <div class="notice-modal-header">
                        <span>Notifications</span>
                        <button><img src="/assets/icons/settings.svg" alt="settings"></button>
                    </div>
                    <div class="notice-modal-main">
                        <div class="notice-modal-text">
                            <img src="/assets/icons/Notifications.svg" alt="alarm">
                            <h4>Your notifications live here</h4>
                            <span>Subscribe to your favourite channels to receive notifications about their latest videos.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="icon-profile">
            <button class="profile-btn">
                <img src="/assets/profile/Profile-pic.svg" alt="profile">
            </button>
            <div class="profile-modal">
                <div class="profile-modal-container">
                    <div class="profile-modal-header">
                        <img src="/assets/profile/Profile-pic.svg" alt="profile">
                        <div class="profile-modal-headertext">
                            <span>초보탈출 넘버원</span><br>
                            <span>no1@gmail.com</span>
                            <button>Create a channel</button>
                        </div>
                    </div>
                    <div class="profile-modal-main1">
                        <button><img src="/assets/icons/googleaccount.svg" alt="Google Account" class="filter"><span>Google Account</span></button>
                        <button><img src="/assets/icons/switchaccount.svg" alt="switch account"><span>Switch account</span></button>
                        <button><img src="/assets/icons/signout.svg" alt="sign out"><span>Sign out</span></button>
                    </div>
                    <div class="profile-modal-main2">
                        <button><img src="/assets/icons/youtubestudio.svg" alt="YouTube Studio" class="filter"><span>YouTube Studio</span></button>
                        <button><img src="/assets/icons/p.svg" alt="Your Premium benefits"><span>Your Premium benefits</span></button>
                        <button><img src="/assets/icons/purchase.svg" alt="Purchases and memberships"><span>Purchases and memberships</span></button>
                    </div>
                    <div class="profile-modal-main3">
                        <button><img src="/assets/icons/yourdata.svg" alt="Your data in Youtube"><span>Your data in Youtube</span></button>
                        <button><img src="/assets/icons/appearance.svg" alt="Appearance: Device theme"><span>Appearance: Device theme</span></button>
                        <button><img src="/assets/icons/language.svg" alt="Language: English"><span>Language: English</span></button>
                        <button><img src="/assets/icons/restrictedmode.svg" alt="Restricted Mode: off"><span>Restricted Mode: off</span></button>
                        <button><img src="/assets/icons/location.svg" alt="Location: South Korea"><span>Location: South Korea</span></button>
                        <button><img src="/assets/icons/keyboard.svg" alt="Keyboard shortcuts"><span>Keyboard shortcuts</span></button>
                    </div>
                    <div class="profile-modal-main4">
                        <button><img src="/assets/icons/settings.svg" alt="Settings"><span>Settings</span></button>
                    </div>
                    <div class="profile-modal-main5">
                        <button><img src="/assets/icons/help.svg" alt="Help"><span>Help</span></button>
                        <button><img src="/assets/icons/feedback.svg" alt="Send feedback"><span>Send feedback</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>