<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link rel="icon" type="image/png" href="/assets/logos/youtube.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/search.css">
</head>