<header>
    <!-- 로고영역 -->
    <div class="left-section">
        <img class="menu-icon" src="../assets/icons/hamburger.svg" alt="menu">
        <img class="youtube-logo" src="../assets/icons/Youtube-Logo.svg" alt="youtube logo">
    </div>

    <!--검색창 영역-->
    <form class="search-form">
        <input type="search" placeholder="Search"> 
        <button type="submit"><img src="../assets\icons\search.svg" alt="search"></button>
        <div class="icon mic"><img src="../assets\icons\mic.svg" alt="micicon"></div>
    </form>

    <!---오른쪽 아이콘 영역-->
    <div class="right-section">
        <div class="icon Create" ><img src="../assets\icons\Create.svg" alt="video"></div>
        <div class="icon Apps" ><img src="../assets\icons\Apps.svg" alt="apps"></div>
        <div class="icon Notifications" ><img src="../assets\icons\Notifications.svg" alt="alarm"></div>
        <div class="icon profile"><img src="../assets\img\Profile-pic.svg" alt="profile"></div>
    </div>
</header>