<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YouTube</title>
    <link rel="icon" type="image/png" href="/assets/img/youtube.png" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link  rel="stylesheet" href="../css/home.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header : 홈 화면 상단바 -->
    <%- include('partials/header') %>

    <div class="container">
        <!-- nav : 홈 화면 네비게이션 -->
        <%- include('partials/nav') %>
        <!-- main : 홈 화면 블록 -->
        <main>
            <!--filter-bar-->
            <section class="filter-bar">
                <div class="filter-wrapper">
                    <button class="category-btn active">전체</button>
                    <button class="category-btn">음악</button>
                    <button class="category-btn">게임</button>
                    <button class="category-btn">믹스</button>
                    <button class="category-btn">라이브</button>
                    <button class="category-btn">요리</button>
                    <button class="category-btn">최근에 업로드된 동영상</button>
                    <button class="category-btn">감상한 동영상</button>
                    <button class="category-btn">새로운 맞춤 동영상</button>
                    <button class="category-btn">인생</button>
                    <button class="category-btn">고양이</button>
                    <button class="category-btn">동물</button>
                    <button class="category-btn">철학</button>
                    <button class="category-btn">피티니스</button>
                    <button class="category-btn">동물</button>
                    <button class="category-btn">철학</button>
                    <button class="category-btn">시사</button>
                </div>
                <div>
                    <button class="scroll-next"><img src="../assets/icons/Top-Menu.svg" alt="다음 버튼" /></button>
                </div>
            </section>

            <!--video-grid-->
            <section class="video-grid">
                <% videoList.forEach(video => { %>
                <%- include('partials/videoCard-home', { video: video }) %> 
                <% }); %>
            </section>
        </main>
    </div>
    <script src="../js\home.js"></script>
</body>
</html>