<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YouTube</title>
    <link rel="icon" type="image/png" href="/assets/img/youtube.png" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link  rel="stylesheet" href="../css/home.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header : 홈 화면 상단바 -->
    <%- include('partials/header') %>

    <div class="container">
        <!-- nav : 홈 화면 네비게이션 -->
        <%- include('partials/nav') %>
        <!-- main : 홈 화면 블록 -->
        <main>
            <!--filter-bar-->
            <section class="filter-bar">
                <div class="filter-wrapper">
                    <button class="category-btn active">전체</button>
                    <button class="category-btn">음악</button>
                    <button class="category-btn">게임</button>
                    <button class="category-btn">믹스</button>
                    <button class="category-btn">라이브</button>
                    <button class="category-btn">요리</button>
                    <button class="category-btn">최근에 업로드된 동영상</button>
                    <button class="category-btn">감상한 동영상</button>
                    <button class="category-btn">새로운 맞춤 동영상</button>
                    <button class="category-btn">인생</button>
                    <button class="category-btn">고양이</button>
                    <button class="category-btn">동물</button>
                    <button class="category-btn">철학</button>
                    <button class="category-btn">피티니스</button>
                    <button class="category-btn">동물</button>
                    <button class="category-btn">철학</button>
                    <button class="category-btn">시사</button>
                </div>
                <div>
                    <button class="scroll-next"><img src="../assets/icons/Top-Menu.svg" alt="다음 버튼" /></button>
                </div>
            </section>

            <!--video-grid-->
            <section class="video-grid">
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 1.svg" alt="video1">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JamesGouse.svg" alt="JamesGouse">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">James Gouse</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 2.svg" alt="video2">
                            <span class="video-length">23:12</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AlanCooper.svg" alt="AlanCooper">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AlanCooper</span><br>
                                    <span class="view">20K Views.</span>
                                    <span class="update-date">3 weeks ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 3.svg" alt="video3">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/MarcusLevin.svg" alt="MarcusLevin">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">MarcusLevin</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 4.svg" alt="video4">
                            <span class="video-length">10:12</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AlexisSears.svg" alt="AlexisSears">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AlexisSears</span><br>
                                    <span class="view">30K Views.</span>
                                    <span class="update-date">3 days ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 5.svg" alt="video5">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JesicaLambert.svg" alt="JesicaLambert">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">JesicaLambert</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 6.svg" alt="video6">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AnnaWhite.svg" alt="AnnaWhite">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AnnaWhite</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 7.svg" alt="video7">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/SkylarDias.svg" alt="SkylarDias">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">SkylarDias</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                                </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 8.svg" alt="video8">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JamesGouse.svg" alt="JamesGouse">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">James Gouse</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 1.svg" alt="video1">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JamesGouse.svg" alt="JamesGouse">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">James Gouse</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 2.svg" alt="video2">
                            <span class="video-length">23:12</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AlanCooper.svg" alt="AlanCooper">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AlanCooper</span><br>
                                    <span class="view">20K Views.</span>
                                    <span class="update-date">3 weeks ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 3.svg" alt="video3">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/MarcusLevin.svg" alt="MarcusLevin">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">MarcusLevin</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 4.svg" alt="video4">
                            <span class="video-length">10:12</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AlexisSears.svg" alt="AlexisSears">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AlexisSears</span><br>
                                    <span class="view">30K Views.</span>
                                    <span class="update-date">3 days ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 5.svg" alt="video5">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JesicaLambert.svg" alt="JesicaLambert">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">JesicaLambert</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 6.svg" alt="video6">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/AnnaWhite.svg" alt="AnnaWhite">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">AnnaWhite</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 7.svg" alt="video7">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/SkylarDias.svg" alt="SkylarDias">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">SkylarDias</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
                <article class="video-card">
                    <a href="#">
                        <figure class="video-figure">
                            <img src="../assets/img/video 8.svg" alt="video8">
                            <span class="video-length">12:34</span>
                        </figure>
                        <figcaption class="video-info">
                            <img class="channel-avatar" src="../assets/img/JamesGouse.svg" alt="JamesGouse">
                            <div class="video-description">
                                <p class="video-title">Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                                <p>
                                    <span class="channel-name">James Gouse</span><br>
                                    <span class="view">15K Views.</span>
                                    <span class="update-date">1 week ago</span>
                                </p>
                            </div>
                        </figcaption>
                    </a>
                </article>
            </section>
        </main>
    </div>
</body>
</html>